/bin/
/target/

*.prefs
*.project
.classpath
*.project
.project
configuration.properties
*.properties
*.properties
.project
*.properties
.project
.project
*.properties
.project
*.properties
configuration.properties